body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

h1,
h2 {
  text-align: center;
}

li {
  margin-bottom: 30px;
  padding: 10px 10px;
  background-color: #faebd7;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input[type='submit'] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  max-width: 100px;
}

.message-user {
  display: block;
}
